<a href='/'>TINY URL</a>

<% if(typeof user_id !== 'undefined') {%>
  <%= user_id %>
  <br>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
  <br>

<% } else { %>
  <a href="/register">REGISTER</a>
  <a href="/login">LOGIN PAGE</a>

<% } %>
