<a href='/'>TINY URL</a>

<% if(typeof email !== 'undefined' && email.length > 3) {%>
  <%= email %>
  <br>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout">
  </form>
  <br>

<% } else { %>
  <a href="/register">REGISTER</a>
  <a href="/login">LOGIN PAGE</a>

<% } %>
