<!DOCTYPE html>
<html lang="en">
<% var user_id = user_id; %>
<% var email = email; %>
<% var error_message = error_message %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>
  401 : <%= error_message %>
</body>
</html>
