<!DOCTYPE html>
<html lang="en">
<% var user_id = user_id; %>
<% var error_message = error_message %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>
  401 : <a href="/login">Please login here</a>
</body>
</html>
