<!DOCTYPE html>
<html lang="en">
<% var user_id = user_id; %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>
  <a href="/login">401 - Login Page Here</a>
</body>
</html>
