<!DOCTYPE html>
<html lang="en">
  <% var user_id = user_id %>
  <% var email = email; %>
  <% include ./partials/_header %>
  <body>
    
    LOGIN

    <form method="POST" action="/login">
      <div class="input-group margin-bottom-sm col-xs-6">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input id="username" class="form-control" type="email" name="username" placeholder="Email address"><br>
      </div>
      
      <div class="input-group col-xs-6">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input id="password" class="form-control" type="password" name="password" placeholder="Password"><br>
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
