<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding: 50px;">

    <% var user_id = user_id %>
    <% var email = email; %>
    <% include ./partials/_header %>
    <form method="POST" action="/register" style="margin:150px;">
      <label for="username">Username:</label>
      <input id="username" type="email" name="username" style="width:300px"><br>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password" style="width:300px"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
