<!DOCTYPE html>
<html lang="en">
<% var username = user_id %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>
        <%= shortUrl %> : <%= urls[shortUrl] %>

        <form method="POST" action="/urls/<%=shortUrl%>">
          <input id="URLToUpdate" type="text" name="URLToUpdate" placeholder="<%= urls[shortUrl] %>">
          <input type="submit" value="Change URL"> 
        </form>
</body>
</html>
