<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>
  <% for(url in urls) { %>
    <%= url %> : <%= urls[url]%>
    
    <a href="/urls/<%= url %>">Edit</a>   

    <form method="POST" action="/urls/<%= url %>/delete">
      <input type="submit" value="Submit">      
    </form>
  <% } %>
</body>
</html>
