<!DOCTYPE html>
<html lang="en">

<% var user_id = user_id; %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>

  <br>
  <% if (user_id) {%>
    <a href="/urls/new">Create a New Short Link</a>
  <% } %>
  <br>

  <% for(url in urls) { %>
    <% if(urls[url].user_id === user_id) { %>

      localhost:8080/u/<%= url %> : <%= urls[url].url %>
    
      <a href="/urls/<%= url %>">Edit</a>   

      <form method="POST" action="/urls/<%= url %>/delete">
        <input type="submit" value="Delete">      
      </form>
    <% }%>
  <% } %>
</body>
</html>

<!-- Add create new shortened URL -->
