<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding: 50px;">

    <% var user_id = user_id %>
    <% var email = email; %>
    <% include ./partials/_header %>
    <form method="POST" action="/urls" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="url" name="longURL" placeholder="http://" style="width:300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
