<!DOCTYPE html>
<html lang="en">

<% var username = username; %>
<% include ./partials/_header %>
<head>
  <title>TinyApp</title>
</head>
<body>

  <% for(url in urls) { %>


    <%= url %> : <%= urls[url]%>
    
    <a href="/urls/<%= url %>">Edit</a>   

    <form method="POST" action="/urls/<%= url %>/delete">
      <input type="submit" value="Delete">      
    </form>

  <% } %>
</body>
</html>

<!-- Add create new shortened URL -->
